[Desktop Entry]
Version=1.0
Type=Application
Name=htop
Icon=utilities-terminal
Exec=gnome-terminal --class htop --title htop -- htop
Comment=improved top
Categories=Tools
