[Desktop Entry]
Version=1.0
Type=Application
Name=htop
Icon=utilities-terminal
Exec=bash -c '$HOME/personal/repos/linux-configuration/applications/htop.sh'
Comment=improved top
Categories=Tools
Terminal=true
